.intro {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/space.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#pro1 {
  height: 22vh;
}

.black {
  color: black;
}

.fz {
  font-size: 40%;
}

.fl {
  float: left;
}

.project-description {
  text-align: left;
}

.fr {
  float: right;
}

.m2 {
  margin: 3%;
}

.pro {
  display: flex;
  justify-content: space-around;
}

.tabs {
  text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
  color: white;
  font-size: 18px;
}

.projectBackground {
  height: 76vh;
  background-image: url(../img/spx.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.skillspage {
  height: 120vh;
  background-image: url(../img/spacex.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  margin-top: 20%;
}

.skp {
  width: 100vw;
}

.text {
  font-size: 44px;
}

.m {
  margin-left: 2%;
}

.imageSize {
  margin-top: 5%;
  border-radius: 3%;
  width: 11vw;
  height: 11vh;
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
}

.html {
  background-image: url(../img/html.jpeg);
}

.aws {
  background-image: url(../img/aws.jpeg);
}

.babel {
  background-image: url(../img/babel.png);
}

.boot {
  background-image: url(../img/bootstrap.png);
}

.cs {
  background-image: url(../img/css.png);
}

.figma {
  background-image: url(../img/figma.png);
}

.git {
  background-image: url(../img/github.png);
}

.jq {
  background-image: url(../img/jq.png);
}

.js {
  background-image: url(../img/js1.png);
}

.mysql {
  background-image: url(../img/mysql.png);
}

.php {
  background-image: url(../img/php.png);
}

.react {
  background-image: url(../img/react.png);
}

.webpack {
  background-image: url(../img/webpack.png);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /*ipad*/
  #pro1 {
    height: 17vh;
  }
  /* .font-ptag {
    font-size: 49%;
  } */
  .fz {
    font-weight: bolder;
    font-size: 36%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /*ipad*/
  #pro1 {
    height: 9vh;
  }
  .imageSize {
    width: 23vw;
    height: 12vh;
  }
  .text {
    margin-top: -14%;
  }
  .projectBackground {
    margin-bottom: 104%;
  }
  .pro {
    display: inline-grid;
  }
  .fz {
    font-weight: bolder;
    font-size: 57%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {
  /* iphone x */
  .projectBackground {
    height: 106vh;
  }
  .skillspage {
    height: 169vh;
  }
  .font-ptag {
    font-size: 49%;
  }
  .fz {
    font-weight: 900;
    font-size: 28%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  /* iphone x */
  .skillspage {
    margin-top: 115%;
  }
  .pro {
    display: inline;
  }
  #pro1 {
    height: 7vh;
  }
  .cf {
    font-size: 37%;
  }
  .custom-font-size {
    font-size: 39%;
  }
  .raul {
    margin-left: 8%;
  }
}
