.intro {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/space.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.pro1{
  height: 23vh;
}
.projectBackground{
  height: 76vh;
  background-image: url(../img/spx.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
